<ion-header>
  <app-headerbar [title]="title"></app-headerbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-list-header>
      <h2>Completed Tasks</h2>
    </ion-list-header>

    <ion-item *ngFor="let task of todoList">
      <ion-label>
        <h2>{{ task.name }}</h2>
        <p>{{ task.description }}</p>
        <!-- time the task was done -->
        <!--
          remove end date and time from forms
          if task checked, auto add the complete time
        -->
      </ion-label>
      <ion-icon slot="start" name="checkbox"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list lines="full">
    <ion-list-header>
      <h2>
        Completed Goals
      </h2>
    </ion-list-header>

    <ion-item *ngFor="let goal of goalsList">
      <ion-label>
        <h2>{{ goal.name }}</h2>
        <p>{{ goal.description }}</p>
        <!-- time the goal was done -->
      </ion-label>
      <ion-icon slot="start" name="trophy"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>