<ion-header>
  <app-headerbar [title]="title"></app-headerbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let note of notesList">
    <ion-card-header>
      <ion-card-subtitle>{{ note.header }}
      <span class="importanceLevel">{{ note.importance }}</span>
      </ion-card-subtitle>
      <ion-card-title>{{ note.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ note.details }}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/notes/add-note"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
