<ion-header>
  <app-subpage-headerbar [title]="title"></app-subpage-headerbar>
</ion-header>

<ion-content>
  <form [formGroup]="addTaskForm">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime formControlName="startDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm a" formControlName="startTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime formControlName="endDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime displayFormat="h:mm a" formControlName="endTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select formControlName="status">
        <ion-select-option value="Incomplete">
          Incomplete
        </ion-select-option>
        <ion-select-option [disabled]="addTaskForm.value.endDate === '' || addTaskForm.value.endTate === ''"
          value="Complete">
          Complete
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="onSubmit()" [disabled]="addTaskForm.invalid" routerLink="/todo">Submit</ion-button>
  </form>
</ion-content>